* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  
}
.color{
    background-color:#403c3c;
}
.color:hover{
    transform: translateY(-2px);
  transition: transform 0.2s ease;
}

.hover:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}